@import './styles/fonts.scss'; 

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: "MegaFon Graphik", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p {
  margin: 0;
  padding: 0;
}

